.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1.5;
}

.subtitle {
  text-align: center;
  line-height: 1.5;
}

.input {
  width: 100%;
  max-width: 320px;
  margin: 32px 0;
  padding: 8px;
  border: 1px solid currentColor;
  outline: none;
  resize: none;
  background: inherit;
  color: var(--color-text-secondary);
  font-family: 'Nanum Myeongjo', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.input::placeholder {
  text-align: center;
  color: var(--color-grayscale-5);
}

.errorWrap {
  margin-bottom: 16px;
}

.errorText {
  color: #ef4444;
}
