.footer {
  height: 72px;
  padding: 20px;
  border-top: 1px solid #d4d4d4;
  border-bottom: none;
  box-sizing: border-box;
}

.title {
  margin-right: 10px;
  font-size: 12px;
  line-height: 1.5;
}

.links {
  display: flex;
}

.link {
  margin-right: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.text {
  margin-right: 10px;
  font-size: 12px;
  line-height: 1.5;
}
